@model Aproxima.Models.Solicitacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Solicitacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalhamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalhamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RendaMensal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RendaMensal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdultosMoramComVoce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdultosMoramComVoce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdultosTemRenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdultosTemRenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdultosRenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdultosRenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
